<a href="https://colab.research.google.com/github/anuj2001/Machine_Learning/blob/main/Assignment_3_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('C:/Users/Anuj/Downloads/USA_Housing.csv')
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05

In [ ]:
data.shape

(5000, 6)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
X = data.drop(['Price'],axis=1)
Y = data['Price']
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [ ]:
Y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

## Standardization of The Dataset- Dependent Features

In [ ]:
scaler = StandardScaler()
scaled = scaler.fit(X)
scaled = scaler.transform(X)
X_scaled = pd.DataFrame(scaled,columns=X.columns)
X_scaled

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,1.028660,-0.296927,0.021274,0.088062,-1.317599
1,1.000808,0.025902,-0.255506,-0.722301,0.403999
2,-0.684629,-0.112303,1.516243,0.930840,0.072410
3,-0.491499,1.221572,-1.393077,-0.584540,-0.186734
4,-0.807073,-0.944834,0.846742,0.201513,-0.988387
...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,-0.422467,-1.342732
4996,0.929740,1.030822,-0.408686,0.031337,-1.062747
4997,-0.487235,1.284470,-2.170269,-1.500251,-0.291937
4998,-0.054592,-0.446694,0.141541,1.182053,0.651116
4999,-0.288313,0.015215,-0.194342,0.071855,1.041625

In [ ]:
from sklearn.model_selection import KFold,LeaveOneOut
from sklearn.linear_model import LinearRegression
model = LinearRegression()
kfold = KFold(5)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
#def get_results(model,X_train,X_test,Y_train,Y_test):
    
    #model.fit(X_train,Y_train)
    #pred = model.predict(Y_test)
    #score = r2_score(pred,Y_test)
    
    #return print(pred),print(score ##This particular function will give us value of predictions and r2_score for each and every fold

In [ ]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(model,X_scaled,Y,cv=kfold,verbose=2)
score

[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

array([0.91758995, 0.92030155, 0.91524299, 0.92085038, 0.91381118])

In [ ]:
print(score)

[0.91758995 0.92030155 0.91524299 0.92085038 0.91381118]

In [ ]:
print(np.mean(score))## CV score value

0.9175592097636279

### PART-3 MULTIPLE REGRESSION MODEL - CAR PRICE PREDICTION

In [ ]:
data = pd.read_fwf('C:/Users/Anuj/Downloads/imports-85.data')

In [ ]:
datafile = pd.read_csv('C:/Users/Anuj/Downloads/imports-85.csv')
datafile

In [ ]:
col_name = ["symboling", "normalized_losses",
"make", "fuel_type", "aspiration","num_doors", "body_style", "drive_wheels",
"engine_location", "wheel_base", "length", "width", "height", "curb_weight",
"engine_type", "num_cylinders", "engine_size", "fuel_system", "bore", "stroke",
"compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]

In [ ]:
col_name

In [ ]:
datafile_1 = pd.DataFrame(datafile)
datafile_1

In [ ]:
datalist = datafile_1.values.tolist()
datalist

In [ ]:
df = pd.DataFrame(datalist,columns=col_name)
df## generating the dataframe by conevrting the datafiles into an array first and then again converting back into a dataframe

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
data_new = df.replace('?',np.NaN)## replacing with null values
data_new

In [ ]:
data_new.isnull().sum()

In [ ]:
## The data cloumns which generally contain the the null values are the ones which have numericall values

In [ ]:
data_new.normalized_losses.value_counts()

In [ ]:
data_new.isnull().sum()

In [ ]:
data_new

In [ ]:
data_new_1 = data_new.dropna(subset = ['price'])
data_new_1## 4 rows with null price values have been dropped

In [ ]:
data_new_1.isnull().sum()

In [ ]:
data_new_1 = data_new_1.replace({
    'normalized_losses' : np.NaN
},data_new_1.normalized_losses.median())
data_new_1

In [ ]:
data_new_1.isnull().sum()

In [ ]:
data_new_1

In [ ]:
data_new_1.isnull().sum()

In [ ]:
data_new_1## After applying central tendency values to all the necessary columns

## Replacing 'num_doors','num_cylinder'

In [ ]:
data_new_1.num_doors.value_counts()

four    113
two      85
Name: num_doors, dtype: int64

In [ ]:
data_new_1.num_cylinders.value_counts()

four      156
six        24
five       10
two         4
eight       4
three       1
twelve      1
Name: num_cylinders, dtype: int64

#### Replacer function to replace the string value of numbers by its numeric form

In [ ]:
def replacer(data_new_1,column_name,val_to_replace,new_val):
    data_new_1 = data_new_1.replace({
        column_name : val_to_replace
    },new_val)
    
    return data_new_1

In [ ]:
data_new_1 = replacer(data_new_1,'num_doors','two',2)
data_new_1 = replacer(data_new_1,'num_doors','four',4)

In [ ]:
data_new_1

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115.0,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,115.0,alfa-romero,gas,std,2.0,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,4.0,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,4.0,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,115.0,audi,gas,std,2.0,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,4.0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,4.0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,4.0,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,4.0,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,4.0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [ ]:
data_new_1 = replacer(data_new_1,'num_cylinders','two',2)
data_new_1 = replacer(data_new_1,'num_cylinders','three',3)
data_new_1 = replacer(data_new_1,'num_cylinders','four',4)
data_new_1 = replacer(data_new_1,'num_cylinders','six',6)
data_new_1 = replacer(data_new_1,'num_cylinders','five',5)
data_new_1 = replacer(data_new_1,'num_cylinders','eight',8)
data_new_1 = replacer(data_new_1,'num_cylinders','twelve',12)
data_new_1.num_cylinders.value_counts()

4     156
6      24
5      10
2       4
8       4
3       1
12      1
Name: num_cylinders, dtype: int64

In [ ]:
data_new_1.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115.0,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,115.0,alfa-romero,gas,std,2.0,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,4.0,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,4.0,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,115.0,audi,gas,std,2.0,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

### For 'body_style','drive_wheels' - DUMMY VARIABLE HANDLING

In [ ]:
data_new_1.body_style.value_counts()

sedan          94
hatchback      68
wagon          25
hardtop         8
convertible     5
Name: body_style, dtype: int64

In [ ]:
dummy_1 = pd.get_dummies(data_new_1.body_style,drop_first=True)
dummy_2 = pd.get_dummies(data_new_1.drive_wheels,drop_first=True)
data_new_1 = pd.concat([dummy_1,data_new_1],axis=1)
data_new_1 = pd.concat([dummy_2,data_new_1],axis=1)

In [ ]:
data_new_1 =  data_new_1.drop(['body_style','drive_wheels'],axis=1)

In [ ]:
data_new_1.head()

,fwd,rwd,hardtop,hatchback,sedan,wagon,symboling,normalized_losses,make,fuel_type,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,1,0,0,0,0,3,115.0,alfa-romero,gas,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,0,1,0,1,0,0,1,115.0,alfa-romero,gas,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,1,0,0,0,1,0,2,164,audi,gas,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,0,0,0,0,1,0,2,164,audi,gas,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,1,0,0,0,1,0,2,115.0,audi,gas,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [ ]:
data_new_1.make.value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
jaguar            3
chevrolet         3
isuzu             2
renault           2
alfa-romero       2
mercury           1
Name: make, dtype: int64

In [ ]:
data_new_1.isnull().sum()

fwd                  0
rwd                  0
hardtop              0
hatchback            0
sedan                0
wagon                0
symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            2
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 4
stroke               4
compression_ratio    0
horsepower           2
peak_rpm             2
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [ ]:
data_new_1 = data_new_1.replace({
    'num_doors' : np.NaN
},data_new_1.num_doors.median())## Replacing the null values by median as mean would give a decimal value of no practical significance
data_new_1.num_doors.value_counts()

4.0    115
2.0     85
Name: num_doors, dtype: int64

In [ ]:
data_new_1.columns

Index(['fwd', 'rwd', 'hardtop', 'hatchback', 'sedan', 'wagon', 'symboling',
       'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_doors',
       'engine_location', 'wheel_base', 'length', 'width', 'height',
       'curb_weight', 'engine_type', 'num_cylinders', 'engine_size',
       'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

## Label encoding - 'make','aspiration','engine_location','fuel_type'

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
label_1 = le.fit_transform(data_new_1['make'])
label_2 = le.fit_transform(data_new_1['aspiration'])
label_3 = le.fit_transform(data_new_1['engine_location'])
label_4 = le.fit_transform(data_new_1['fuel_type'])

In [ ]:
data_new_1 = data_new_1.drop(['make','aspiration','engine_location','fuel_type'],axis=1)

In [ ]:
data_new_1['make'] = label_1
data_new_1['aspiration'] = label_2
data_new_1['engine_location'] = label_3
data_new_1['fuel_type'] = label_4

In [ ]:
data_new_1

,fwd,rwd,hardtop,hatchback,sedan,wagon,symboling,normalized_losses,num_doors,wheel_base,...,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,make,aspiration,engine_location,fuel_type
0,0,1,0,0,0,0,3,115.0,2.0,88.6,...,9.0,111,5000,21,27,16500,0,0,0,1
1,0,1,0,1,0,0,1,115.0,2.0,94.5,...,9.0,154,5000,19,26,16500,0,0,0,1
2,1,0,0,0,1,0,2,164,4.0,99.8,...,10.0,102,5500,24,30,13950,1,0,0,1
3,0,0,0,0,1,0,2,164,4.0,99.4,...,8.0,115,5500,18,22,17450,1,0,0,1
4,1,0,0,0,1,0,2,115.0,2.0,99.8,...,8.5,110,5500,19,25,15250,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,0,1,0,0,1,0,-1,95,4.0,109.1,...,9.5,114,5400,23,28,16845,21,0,0,1
200,0,1,0,0,1,0,-1,95,4.0,109.1,...,8.7,160,5300,19,25,19045,21,1,0,1
201,0,1,0,0,1,0,-1,95,4.0,109.1,...,8.8,134,5500,18,23,21485,21,0,0,1
202,0,1,0,0,1,0,-1,95,4.0,109.1,...,23.0,106,4800,26,27,22470,21,1,0,0
203,0,1,0,0,1,0,-1,95,4.0,109.1,...,9.5,114,5400,19,25,22625,21,1,0,1

In [ ]:
data_new_1.fuel_system.value_counts()## Replace mpfi with 1 and rest to zero

mpfi    91
2bbl    64
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel_system, dtype: int64

In [ ]:
data_new_1.engine_type.value_counts()## replace ohc to 1 and rest all by 0

ohc      145
ohcf      15
ohcv      13
l         12
dohc      11
rotor      4
Name: engine_type, dtype: int64

## Fuel System - 'mpfi' -1 , Rest all - 0

In [ ]:
data_new_1 = replacer(data_new_1,'fuel_system','mpfi',1)
data_new_1 = replacer(data_new_1,'fuel_system','2bbl',0)
data_new_1 = replacer(data_new_1,'fuel_system','idi',0)
data_new_1 = replacer(data_new_1,'fuel_system','1bbl',0)
data_new_1 = replacer(data_new_1,'fuel_system','4bbl',0)
data_new_1 = replacer(data_new_1,'fuel_system','mfi',0)
data_new_1 = replacer(data_new_1,'fuel_system','spfi',0)
data_new_1 = replacer(data_new_1,'fuel_system','spdi',0)
data_new_1.fuel_system.value_counts()

0    109
1     91
Name: fuel_system, dtype: int64

## Engine Type - 'ohc'-1 , Rest all -0

In [ ]:
data_new_1 = replacer(data_new_1,'engine_type','ohc',1)
data_new_1 = replacer(data_new_1,'engine_type','ohcf',0)
data_new_1 = replacer(data_new_1,'engine_type','ohcv',0)
data_new_1 = replacer(data_new_1,'engine_type','l',0)
data_new_1 = replacer(data_new_1,'engine_type','rotor',0)
data_new_1 = replacer(data_new_1,'engine_type','dohc',0)

In [ ]:
data_new_1.engine_type.value_counts()

1    145
0     55
Name: engine_type, dtype: int64

In [ ]:
data_new_1.isnull().sum()

fwd                  0
rwd                  0
hardtop              0
hatchback            0
sedan                0
wagon                0
symboling            0
normalized_losses    0
num_doors            0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 4
stroke               4
compression_ratio    0
horsepower           2
peak_rpm             2
city_mpg             0
highway_mpg          0
price                0
make                 0
aspiration           0
engine_location      0
fuel_type            0
dtype: int64

In [ ]:
data_new_1.bore.median()

3.31

In [ ]:
data_new_1.stroke.median()

3.29

In [ ]:
data_new_1.horsepower.median()

95.0

In [ ]:
data_new_1.peak_rpm.median()

5200.0

In [ ]:
data_new_1 = replacer(data_new_1,'bore',np.NaN,3.31)
data_new_1 = replacer(data_new_1,'stroke',np.NaN,3.29)
data_new_1 = replacer(data_new_1,'horsepower',np.NaN,95)
data_new_1 = replacer(data_new_1,'peak_rpm',np.NaN,5200)

In [ ]:
data_new_1.head()

,fwd,rwd,hardtop,hatchback,sedan,wagon,symboling,normalized_losses,num_doors,wheel_base,...,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,make,aspiration,engine_location,fuel_type
0,0,1,0,0,0,0,3,115.0,2.0,88.6,...,9.0,111,5000,21,27,16500,0,0,0,1
1,0,1,0,1,0,0,1,115.0,2.0,94.5,...,9.0,154,5000,19,26,16500,0,0,0,1
2,1,0,0,0,1,0,2,164,4.0,99.8,...,10.0,102,5500,24,30,13950,1,0,0,1
3,0,0,0,0,1,0,2,164,4.0,99.4,...,8.0,115,5500,18,22,17450,1,0,0,1
4,1,0,0,0,1,0,2,115.0,2.0,99.8,...,8.5,110,5500,19,25,15250,1,0,0,1

## MULTIPLE REGRESSION

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
A = data_new_1.drop(['price'],axis=1)
B = data_new_1.price

In [ ]:
A_train,A_test,B_train,B_test = train_test_split(A,B,test_size=0.30,random_state=42)

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(A_train,B_train)

LinearRegression()

In [ ]:
pred = lr.predict(A_test)
pred

array([ 9053.188868  , 33004.90361893,  6411.82259784,  7936.46052972,
       13195.2311545 ,  7013.01375412, 42656.89685853,  8486.20729321,
       20615.92611445, 47908.7048339 , 28962.0854159 ,  9136.03948632,
       13440.49776108, 14689.43179772, 13502.00264935,  9316.89700647,
       11389.09989389,  5454.103567  , 10404.23996751, 31621.69088717,
       38526.39083728, -2232.05795837,  3500.95353944,  5749.16304812,
       25058.13230615, 10209.39469462,  9810.54889248, 32512.79064861,
        8791.07412978, 13773.51043137, 15367.91717058,  7844.89773947,
       11076.29855661,  6986.52112927,  5549.99773089, 17598.43660378,
        8091.73027462,  7802.36577647, 14673.16588199, 10837.53834394,
       14510.1568195 , 23039.27926922,  7910.32980263,  7986.4771438 ,
       34028.        , 19769.68865379,  6874.4097275 ,  6725.79607768,
       10603.39046248,  7306.55174381,  5156.9214149 , 20457.93897965,
       21056.0670834 , 10104.43691976,  6175.80575127,  7320.13449316,
       11279.95457921, 17635.28861597,  8409.99701009, 10245.01843049])

In [ ]:
from sklearn.metrics import r2_score

## MODEL ACCURACY

In [ ]:
print(r2_score(pred,B_test))

0.9222416356188425

## PRINCIPAL COMPONENT ANALYSIS

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
scaler.fit(A)

StandardScaler()

In [ ]:
scaled_data_new = scaler.transform(A)

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=2)

In [ ]:
pca.fit(A)

PCA(n_components=2)

In [ ]:
A_pca = pca.transform(A)

In [ ]:
A_pca## We have reduces the dimensionality by

array([[   65.28201623,   -99.40622505],
       [  287.6935059 ,    67.40302108],
       [ -403.63193505,   175.4365375 ],
       [  -12.65164442,   466.67876523],
       [ -265.81335439,   277.03019868],
       [    3.50300836,   478.31275784],
       [   91.5463473 ,   542.7541878 ],
       [  197.5572097 ,   623.69683557],
       [ -536.84651169,   450.66487317],
       [ -536.84418318,   450.66406567],
       [  645.20562351,  -600.27640568],
       [  689.13596947,  -567.60664076],
       [  921.33841949,  -396.67974842],
       [  378.14895698,   633.67883581],
       [  498.03746646,   722.83667695],
       [  598.01722805,   797.18201009],
       [ -847.87117018,  -656.08662803],
       [ -716.05725664,  -184.20899856],
       [ -687.97736464,  -163.7416793 ],
       [ -774.36052084,  -102.59023924],
       [ -774.30708518,  -102.49857205],
       [ -571.37005157,    49.65338531],
       [ -701.75204483,   -47.81770127],
       [ -684.17990102,   -34.74955125],
       [ -684.17990102,   -34.74955125],
       [ -521.17868682,    87.70235734],
       [   53.92178166,  -108.85157585],
       [  277.95623804,    60.57328711],
       [ -486.79202233,  -760.5634429 ],
       [-1118.73611286,   264.8529218 ],
       [ -806.44262313,  -127.11768321],
       [-1021.7504532 ,   336.1120862 ],
       [-1008.97099099,   345.61610181],
       [ -965.62085245,   378.04154955],
       [ -954.4037604 ,   385.61553523],
       [ -664.10421813,   353.40619662],
       [ -621.77224955,   384.88824832],
       [ -609.56297122,   393.44882878],
       [ -555.25786581,   433.83530718],
       [ -480.42095899,   490.04485187],
       [ -438.71314883,   147.90520107],
       [   14.23419788,  -387.62264798],
       [  212.64836534,     9.41990834],
       [ 1437.14951834,   612.06988368],
       [ 1437.27828371,   611.44288375],
       [ 1201.58985364,   750.36032086],
       [ -463.99870919,  -494.78213771],
       [ -456.06377814,  -488.92489903],
       [ -452.0701962 ,  -485.95489415],
       [ -420.02653105,  -461.91928231],
       [ -416.0329347 ,  -458.94927007],
       [ -670.42370861,   599.56724685],
       [ -670.42370861,   599.56724685],
       [ -666.43012667,   602.53725173],
       [ -572.88946582,   673.24055066],
       [   53.46077803,  -357.98864848],
       [   73.49376998,  -343.43228091],
       [   53.46077803,  -357.98864848],
       [   73.49376998,  -343.43228091],
       [  188.77450749,  -445.37642345],
       [   85.47413254,  -334.52239484],
       [  163.84018816,   -25.82803774],
       [  664.04889761,  -652.1011047 ],
       [ 1230.29935707,   -42.97742327],
       [ 1418.00131319,    96.61204963],
       [ 1214.23552078,   -54.90666974],
       [ 1434.22203621,   108.64871666],
       [ 1174.96358546,   415.67398425],
       [ 1130.36464812,   383.24821515],
       [ 1457.43448705,   315.20371592],
       [ 1309.22280492,   205.02650661],
       [  357.43977166,   119.95372832],
       [ -740.87817978,   -76.68308714],
       [ -720.05809443,   -61.14742163],
       [ -672.13511113,   -25.5073631 ],
       [ -557.97309323,    60.62792718],
       [ -376.79633913,   195.60432815],
       [ -111.70985845,  -230.99742512],
       [  295.66602889,    72.99520899],
       [  365.95307395,   125.26729631],
       [  369.94665589,   128.23730118],
       [  -82.04113693,  -209.61287536],
       [  -50.0924814 ,  -185.85283634],
       [ -350.32248317,   214.61287401],
       [ -350.37283069,   214.86309791],
       [ -584.02569378,  -334.41691525],
       [ -242.92110403,  -579.63103233],
       [ -560.86291852,  -317.19088696],
       [ -544.86189307,  -305.43655618],
       [ -476.00821268,  -254.69342917],
       [ -534.5052777 ,  -297.58885477],
       [ -473.00132535,  -251.84706909],
       [ -518.50425226,  -285.83452399],
       [ -465.62489963,  -246.97141649],
       [ -489.19786624,  -262.92500031],
       [ -234.08103409,   -73.77076429],
       [ -251.65241138,   -86.83865719],
       [  387.14711237,   390.60040732],
       [  547.82640515,   509.60927659],
       [  359.29656402,   369.37406261],
       [  367.65914485,   377.99065887],
       [  423.32268052,   420.7712026 ],
       [  422.01242455,   419.27216202],
       [  441.59989094,   181.00765715],
       [ 1092.7620635 ,  -393.68548896],
       [  609.79169149,   304.94686073],
       [ 1279.39439357,  -255.97094516],
       [  485.46276039,   213.56044621],
       [ 1136.69146486,  -361.01543531],
       [  653.65125881,   337.50035788],
       [ 1323.32379493,  -223.30089151],
       [  485.5292923 ,   213.6777108 ],
       [ 1136.69146486,  -361.01543531],
       [  173.02356891,   730.06955358],
       [ -740.8054996 ,   -77.64854924],
       [ -571.36135816,    49.64639806],
       [ -701.7645492 ,   -47.71957929],
       [ -684.02024224,   -34.53769098],
       [ -522.23726372,    85.76241663],
       [   54.08955168,  -109.63125232],
       [  283.6902001 ,    64.07791638],
       [  -47.92007513,   441.83674673],
       [ -299.84154998,   753.07964653],
       [ -299.84154998,   753.07964653],
       [ -264.69806127,   779.21567015],
       [  -29.66649334,    78.38988202],
       [ -124.80466753,     7.65280302],
       [    3.42383753,   166.65750337],
       [   33.17578036,   187.67374704],
       [   42.56054411,   195.76337849],
       [   83.49491282,   225.09580849],
       [  -24.54416087,   458.94854231],
       [    6.80523833,   481.15276089],
       [ -276.02653502,  -480.08885119],
       [   79.6246255 ,  -838.16747482],
       [  175.46138933,  -766.8954662 ],
       [ -139.1225266 ,  -501.99200209],
       [  136.00606092,  -795.52964937],
       [ -222.04565569,   -64.99461559],
       [   52.69465934,  -359.22607228],
       [  153.46845222,  -283.31372871],
       [  -23.17344305,  -416.02375164],
       [ -130.1002766 ,     3.08047308],
       [   80.72926381,  -338.8051273 ],
       [  265.43492818,  -200.41883867],
       [ -268.67654384,  -599.35501742],
       [ -224.71816805,  -566.63425459],
       [ -244.62933483,  -581.75626769],
       [  -32.77804451,  -424.14947179],
       [  -24.75193458,  -418.03318966],
       [  630.15258206,    69.25661023],
       [ -191.24580189,  -541.38508449],
       [ -168.88245649,  -524.75311493],
       [  143.27294982,  -666.83028491],
       [  143.1766112 ,  -666.98489446],
       [ -180.97375827,  -533.84756425],
       [ -158.46799355,  -516.979787  ],
       [ -144.0907153 ,  -506.28764088],
       [ -121.23464553,  -487.43862038],
       [  -93.2799552 ,  -466.6487148 ],
       [-1119.22916246,  1013.70191171],
       [-1091.27447213,  1034.49181729],
       [  179.63583069,  -263.01277689],
       [  176.44096513,  -265.38878079],
       [  188.42141632,  -256.47889625],
       [  290.65740867,  -180.4466413 ],
       [  318.61218762,  -159.65673724],
       [  527.0790783 ,    -4.6227259 ],
       [  365.56410685,  -874.52190463],
       [  307.9525345 ,  -544.40274034],
       [  435.87359951,  -822.20866232],
       [  435.87563384,  -822.20888781],
       [  471.0171206 ,  -796.0726194 ],
       [  291.57672942,   321.45775392],
       [  323.53096229,   345.22787417],
       [  415.76170283,   411.04900579],
       [  431.08144088,   423.07174084],
       [  -48.2167278 ,  -435.04648195],
       [ -356.91692275,  -102.87531376],
       [  -45.69945303,  -433.8499677 ],
       [ -354.39964797,  -101.67879951],
       [ -304.08051551,   -64.25673806],
       [  178.14144598,  -640.46278662],
       [ -433.05384887,   151.71899503],
       [ -470.43089184,   124.15002835],
       [ -497.29151719,   107.56869599],
       [ -142.71718201,   368.49975357],
       [  385.94203664,  -485.39150018],
       [ -223.24507375,   307.84334526],
       [  118.14401825,   437.70943933],
       [  215.71331777,   509.57128009],
       [  136.50891784,   451.36138054],
       [  222.09747154,   514.31320667],
       [  404.78186062,   278.96185481],
       [  494.36399626,   344.88368581],
       [  150.16881754,   461.32324643],
       [  288.99729639,   441.62332521],
       [  140.80268207,   579.5764795 ],
       [  720.51378385,   137.84063329],
       [  238.07015011,   526.73488874]])

In [ ]:
A.shape

(200, 29)

In [ ]:
A_pca.shape

(200, 2)

In [ ]:
A_train_pca,A_test_pca,B_train_pca,B_test_pca = train_test_split(A_pca,B,test_size=0.30,random_state=100)

In [ ]:
lr.fit(A_train_pca,B_train_pca)

LinearRegression()

In [ ]:
pred_pca = lr.predict(A_test_pca)

In [ ]:
print(r2_score(pred_pca,B_test_pca))## Drastic Reduction in accuracy- no

0.456742530801849